main {
    margin: 40px auto;
    width: 90%;
    max-width: 400px;
}

header {
    background-color: $primaryColor;
    text-align: center;
}

section {
    @include section($darkColor, $lightColor, $primaryColor);
}

a {
    @include button;
}